<div class="cards">
  <div class="card">
    <h2>Free users</h2>
    <p>Support is offered through the WordPress support forum</p>
    <a class="btn wordpress" href="https://wordpress.org/support/plugin/advanced-forms/">Go to support forum &rarr;</a>
  </div>

  <div class="card">
    <h2>Pro users</h2>
    <p>Priority support is offered over email where we respond as soon as possible</p>
    <a class="btn hookturn" href="mailto:support@hookturn.io?subject=Advanced Forms Pro Support">Send a support request &rarr;</a>
  </div>
</div>