@import "reset";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.11") format("woff2"), url("/fonts/Inter-Regular.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2?v=3.11") format("woff2"), url("/fonts/Inter-Medium.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"), url("/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}

$offblack: #222;
$gray: #444;
$midgray: #666;
$lightgray: #ececec;
$border: #ccc;
$blue: #318cf3;
$darkblue: #2b5584;
$purple: #9b4c9d;

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.5em;
  word-break: break-word; // Necessary to avoid hook names overflowing on small screens
}

h2 {
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6;
  color: $gray;
  margin-bottom: 1em;
}

p a, li a {
  color: $blue;
}

// Main typography
.content {
  img {
    width: 100%;
    max-width: 700px;
  }

  h2 {
    margin-top: 2rem;
  }

  ol, ul {
    color: $gray;
    line-height: 1.5;
    margin-bottom: 1em;
    list-style: disc;
    list-style-position: outside;
    margin-left: 2em;

    // Nested list should have no margins
    ul {
      margin-bottom: 0;
    }
  }

  ol {
    list-style: decimal;
  }

  a:hover {
    text-decoration: underline;
  }

  strong {
    font-weight: 500;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #222;
  font-size: 18px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
}

.cards {
  display: flex;
  margin-top: 2rem;

  .card {
    flex: 1 1 0px;
    border: 1px solid $lightgray;
    border-radius: 5px;
    padding: 20px 15px;
    margin-right: 30px;
  }

  .card:last-child {
    margin-right: 0;
  }

  .card h2 {
    margin-top: 0;
  }
}

aside {
  border-right: 1px solid $lightgray;
  padding-right: 30px;
  flex: 0 0 25%;
}

.logo-wrapper {
  display: flex;
  height: 40px;
  text-decoration: none;
  align-items: center;
  margin: 12px 0;
}

.logo-wrapper h1 {
  color: #222;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
}

.logo {
  height: 40px;
  border-radius: 5px;
}

.regular-header {
  display: flex;
  border-bottom: 1px solid $lightgray;
  padding: 12px;
  align-items: center;
  justify-content: flex-end;
}

.regular-header .feather {
  margin-right: 12px;
  color: $midgray;
}

input {
  flex: 1;
  height: 40px;
  margin: 0;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid $border;
}

.mobile-header {
  display: none;
  border-bottom: 1px solid $lightgray;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}

.mobile-header .menu-toggle {
  cursor: pointer;
}

.mobile-header .menu-toggle .feather {
  vertical-align: middle;
  margin-top: -4px;
}

.mobile-menu {
  display: none;
  padding: 12px;
  border-bottom: 1px solid $lightgray;
  background: #fafafa;

  &.open {
    display: block;
  }

  .menu {
    margin: 0;
  }

  .menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: $midgray;
    font-size: 14px;
    cursor: pointer;
  }

  .menu-close:hover {
    color: $blue;
  }

  .menu-close .feather {
    width: 16px;
    margin-left: 5px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.menu .main-menu,
.menu .sub-menu {
  position: absolute;
  width: 100%;
  transition: all .3s ease;

  &.active {
    position: inherit;
    left: 0;
  }
}

.menu .main-menu {
  left: -110%;
}

.menu .sub-menu {
  left: 110%;
}

.menu .back {
  display: block;
  color: $midgray;
  font-size: 14px;
  margin-bottom: 12px;
}

.menu .divider {
  margin-bottom: 20px;
}

.menu .item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 0;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  line-height: 1.4;
  cursor: pointer;

  .feather {
    height: 18px;
    margin-right: 10px;
  }

  &:hover,
  &.active,
  &.sub:hover,
  &.sub.active {
    color: $blue;
  }

  &.has-sub-pages:after {
    content: "→";
    position: absolute;
    right: 0;
    top: 7px;
    color: $blue;
    opacity: 0;
    transition: 0.2s all ease-in-out;
  }

  &.has-sub-pages:hover:after {
    opacity: 1;
  }

  &.sub {
    color: $midgray;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
  }
}

.menu .subtitle {
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  .feather {
    margin-right: 10px;
  }
}

.menu .section-title {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 8px 0;
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1;
}

main {
  flex: 1 1 auto;
  overflow: auto;

  .section {
    padding: 30px;
    border-bottom: 1px solid $lightgray;
  }

  .section:last-child {
    border-bottom: 0;
  }
}

.hero {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25em;
  }

  h2 {
    margin-bottom: 1em;
  }

  .sublink {
    display: block;
    font-size: 14px;
    color: $midgray;
    margin-top: 5px;
  }

  .sublink:hover {
    text-decoration: underline;
  }

  .btn {
    margin-bottom: 15px;
    margin-right: 10px;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  background: $blue;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba($darkblue, 0.5);
  transition: box-shadow 0.2s ease-in-out;
  border: 0;
  font-family: "Inter", sans-serif;

  transform: translateY(0);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

  &.wordpress {
    background-image: url("/images/wordpress.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: -10% center;
  }

  .subtext {
    display: block;
    font-size: 0.9rem;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.6);
  }

  &.small {
    padding: 10px 15px;
  }

  &.hookturn {
    background: $purple;

    background-image: url("/images/hookturn.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 0% center;
  }

  &:hover {
    box-shadow: 0px 2px 8px rgba($darkblue, 0.5);
    text-decoration: none;
    transform: translateY(-2px);
  }
}

a.btn:hover {
  text-decoration: none;
}

#TableOfContents {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 1px;
    background: $lightgray;
  }

  a {
    color: $blue;
    padding: 5px 0;
    display: block;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style: none;
    margin: 0;
    line-height: 1;
  }

  ul ul {
    margin-left: 1em;
  }
}

main .content {
  padding-bottom: 100px;
}

footer {
  color: $midgray;
  font-size: 0.85em;
  line-height: 1.5;

  a {
    color: $blue;
  }
}

.newsletter-form {
  display: flex;
  max-width: 500px;
  align-items: center;

  input {
    margin-right: 10px;
  }
}

/**
 * Syntax highlight
 */
.highlight {
  margin-bottom: 1rem;
  font-family: "Fira Mono", monospace;
  font-size: 1rem;
  line-height: 1.4em;
  padding: 10px;
  overflow: scroll;
  background: #f9f9f9;

  pre {
    background: inherit !important;
  }

  code {
    background: #f9f9f9 !important;
  }
}

p > code {
  background: #f2f2f2;
  padding: 2px 4px;
  font-family: "Fira Mono", monospace;
  word-break: break-word;
}

li > code {
  padding: 2px 5px;
  font-size: 16px;
  background: #f2f2f2;
  font-family: "Fira Mono", monospace;
  word-break: break-word;
}

/**
 * Algolia DocSearch
 */
.algolia-autocomplete {
  width: 100%;
  max-width: 400px;

  input {
    width: 100%;
  }
}

.algolia-docsearch-suggestion--subcategory-column {
  display: none !important;
}

.algolia-docsearch-suggestion--content {
  width: 100% !important;
  float: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .logo-wrapper h1 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
  }

  main .section {
    padding: 20px;
  }

  .container {
    padding: 0;
  }

  .regular-header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .menu .section-title {
    font-size: 14px;
    margin-top: 0.5em;
  }

  .menu .item.sub {
    font-size: 14px;
  }

  .cards {
    flex-direction: column;

    .card {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 14px;
  }
}

@import "template-visual";
