---
---

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600');

@import 'reset';

$offblack: #222;
$gray: #555;
$midgray: #999;
$lightgray: #ececec;
$blue: #318cf3;
$darkblue: #2b5584;
$purple: #9b4c9d;

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	font-weight: 600;
	margin-bottom: 0.5em;
	color: $offblack;
}

p {
	line-height: 1.5em;
}

a {
	color: $blue;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

em {
	font-style: italic;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	color: $gray;
	font-size: 18px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	padding: 50px 0;
}

.clearfix {
	overflow: hidden;
}

header {
	
	.container {
		padding: 15px 20px;
	}
	
	.logo {
		height: 64px;
		border-radius: 5px;
		box-shadow: 0px 2px 5px rgba($darkblue, 0.5);
		transition: box-shadow .2s ease-in-out;
		
		&:hover {
			box-shadow: 0px 2px 8px rgba($darkblue, 0.5);
		}
	}
	
}

.hero {
	padding: 70px 0;
	border-bottom: 1px solid $lightgray;
	
	.left {
		width: 50%;
		float: left;
		padding: 0 20px;
		padding-bottom: 20px;
	}
	
	.right {
		width: 50%;
		float: left;
	}
	
	.preview-image {
		width: 100%;
		max-width: 500px;
	}
	
	h1 {
		font-size: 3.5rem;
	}
	
	h2 {
		color: $gray;
		font-size: 1.5rem;
		margin-bottom: 1.5em;
	}
}

.documentation-block {
	padding: 70px 0;
	border-bottom: 1px solid $lightgray;
	
	.title-wrapper {
		width: 40%;
		float: left;
		padding: 0 20px;
		padding-right: 40px;
		
		h2 {
			font-size: 2rem;
		}
	}
	
	.documentation-column {
		width: 30%;
		float: left;
		padding: 0 20px;
		
		h2 {
			color: $midgray;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.875rem;
			margin-bottom: 1rem;
		}
		
		li {
			margin-bottom: 15px;
		}
	}
}

/**
 * Post
 */
.post {
	float: left;
	width: 66.66%;
	padding: 0 20px;
	
	.breadcrumb {
		color: $midgray;
		font-size: 0.875rem;
		margin-bottom: 20px;
		font-weight: 600;
	}
	
	h1, h2, h3, h4, h5, h6, p, figure {
		margin-bottom: 1rem;
	}
	
	h1 {
		font-size: 2.5rem;
	}
	
	h2 {
		margin-top: 2rem;
	}
	
	strong {
		font-weight: 600;
	}
	
	figure.highlight {
		padding: 20px;
		background: #f9f9f9;
		overflow: scroll;
	}
	
	code {
		background: #f9f9f9;
	}
	
	img {
		max-width: 80%;
		margin-bottom: 1rem;
	}
	
	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	ul, ol {
		margin-bottom: 1rem;
		font-size: 18px;
		margin-left: 1.5em;
	}

	ul li,
	ol li {
		line-height: 1.5;
		margin-bottom: 5px;
	}
}

.related-hooks {
	border-top: 3px solid $lightgray;
	margin-top: 50px;
	padding-top: 50px;

	h2 {
		font-size: 1.5rem;
		margin-top: 0;
	}

	.detail {
		background: $lightgray;
		border-radius: 3px;
		font-size: 0.7rem;
		margin-left: 5px;
		opacity: 0.75;
		padding: 1px 6px;
		vertical-align: middle;
	}
}

.sidebar {
	float: left;
	width: 33.33%;
	padding: 0 20px;
	
	.heading {
		color: $midgray;
		font-size: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
	}
	
	.related {
		margin-bottom: 60px;
	}
	
	ul li {
		margin-bottom: 10px;
	}
}

.newsletter-signup {
	
	div.mce_inline_error {
		background: transparent !important;
		color: #e74c3c !important;
		font-size: 16px !important;
		padding: 0 !important;
	}
	
	input.mce_inline_error {
		border-color: $lightgray !important;
	}
	
	.response {
		font-size: 16px;
		line-height: 1.4em;
		margin-bottom: 1em;
	}
	
}


/**
 * Components
 */
.btn {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	background: $blue;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba($darkblue, 0.5);
	margin-right: 10px;
	margin-bottom: 10px;
	transition: box-shadow .2s ease-in-out;
	border: 0;
	font-family: 'Nunito Sans', sans-serif;

	transform: translateY(0);
	transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
	
	&.wordpress {
		background-image: url('/assets/images/wordpress.png');
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: -10% center;
	}

	.subtext {
		display: block;
		font-size: 0.9rem;
		margin-top: 8px;
		color: rgba(0, 0, 0, 0.6);
	}
	
	&.small {
		padding: 10px 15px;
		font-size: 14px;
	}

	&.hookturn {
		background: $purple;

		background-image: url('/assets/images/hookturn.png');
		background-repeat: no-repeat;
		background-size: 20%;
		background-position: 0% center;
	}
	
	&:hover {
		box-shadow: 0px 2px 8px rgba($darkblue, 0.5);
		text-decoration: none;
		transform: translateY(-2px);
	}
}

input[type="text"],
input[type="email"]
 {
	display: inline-block;
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid $lightgray;
	margin-bottom: 1rem;
	font-family: 'Nunito Sans', sans-serif;
}


/**
 * Syntax highlight
 */
pre, code {
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.4em;
}
 
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/**
 * Media queries
 */
@media screen and (max-width: 900px) {
	
	.hero {
		padding: 40px 0;
		
		.left {
			width: 100%;
		}
		
		.right {
			display: none;
		}
	}
	
}

@media screen and (max-width: 700px) {
	
	.hero {
		h1 {
			font-size: 2.5rem;
		}
		
		h2 {
			font-size: 1.2rem;
		}
	}
	
	.documentation-block {
		.title-wrapper {
			width: 100%;
			padding-right: 20px;
			margin-bottom: 40px;
		}
		
		.documentation-column {
			width: 50%;
		}
	}
	
	.post {
		width: 100%;
		margin-bottom: 40px;
		
		h1 {
			font-size: 2rem;
		}
	}
	
	.sidebar {
		width: 100%;
		
		.newsletter-signup {
			max-width: 400px;
		}
	}
}

@media screen and (max-width: 550px) {
	
	body {
		font-size: 16px;
	}
	
	.main {
		padding: 30px 0;
	}
	
	.documentation-block {
		padding: 50px 0;
		padding-bottom: 30px;
		
		.documentation-column {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	
	.post {
		
		ul {
			font-size: 16px;
		}
		
	}
	
}