{{ define "main" }}
<div class="hero section">
  <h1>Advanced Forms</h1>
  <h2>
    Flexible and developer-friendly forms using the power of Advanced Custom Fields
  </h2>
  <a class="btn wordpress" href="https://wordpress.org/plugins/advanced-forms/">
    Download from Wordpress.org
  </a>
  <a class="btn hookturn" href="https://hookturn.io/downloads/advanced-forms-pro/">
    Buy Advanced Forms Pro
  </a>
  <a class="sublink" href="https://github.com/advancedforms/advanced-forms">or check out the source on Github &rarr;</a>
</div>

<div class="section">
  {{ .Content }}
</div>

<div class="section">
  <h2>Would you like to stay up to date on Advanced Forms?</h2>
  <p>Subscribe to our newsletter where we occasionally send out updates on releases, features and other nice-to-know things.</p>

  <form class="newsletter-form" action="https://github.us14.list-manage.com/subscribe/post?u=76d2abc9cd9c93679023ba4de&amp;id=d1d49ef515" method="post">
    <input type="email" name="EMAIL" placeholder="Your email address" required />
    <button class="btn small" type="submit">Subscribe</button>
  </form>
</div>

{{ end }}
