<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body>
	{% include header.html %}
	
	<div class="hero">
		<div class="container">
			<div class="left">
				<h1>Advanced Forms</h1>
				<h2>Flexible and developer-friendly forms using the power of Advanced Custom Fields</h2>
				<a class="btn" href="https://wordpress.org/plugins/advanced-forms/">
					Download from Wordpress.org
					<span class="subtext">Version 1.0.3.3</span>
				</a>
			</div>
			
			<div class="right">
				<img src="{{ site.url }}/assets/images/preview.png" class="preview-image" alt="Preview of Advanced Forms">
			</div>
		</div>
	</div>
	
	<div class="documentation-block">
		<div class="container">
			<div class="title-wrapper">
				<h2>Guides</h2>
				<p>Learn how to get started and go further with Advanced Forms.</p>
				
			</div>
			
			<div class="documentation-column">
				<h2>Basic</h2>
				<ul>
					{% for post in site.categories.basic reversed %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="documentation-column">
				<h2>Advanced</h2>
				<ul>
					{% for post in site.categories.advanced reversed %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			
		</div>
	</div>
	
	<div class="documentation-block">
		<div class="container">
			<div class="title-wrapper">
				<h2>Actions</h2>
				<p>Customize and extend your forms using these actions.</p>
				
			</div>
			
			<div class="documentation-column">
				<h2>Form display</h2>
				<ul>
					{% for post in site.categories.form-display reversed %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="documentation-column">
			</div>
			
			
		</div>
	</div>
	
	<div class="documentation-block">
		<div class="container">
			<div class="title-wrapper">
				<h2>Filters</h2>
				<p>Customize and extend your forms using these filters.</p>
				
			</div>
			
			<div class="documentation-column">
				<h2>Forms</h2>
				<ul>
					{% for post in site.categories.forms reversed %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="documentation-column">
				<h2>Emails</h2>
				<ul>
					{% for post in site.categories.emails reversed %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			
		</div>
	</div>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-45755328-16', 'auto');
	  ga('send', 'pageview');
	
	</script>
	
</body>